

.boxs {
  position: absolute;
  background: var(--color-hover);
  height: 650px;
  width: 417px;
  left: -100px;
  z-index: 2;
  transform: skew(-0.04turn);
}

.header img {
  position: relative;
  height: 515px;
  width: 1750px;
  z-index: 0;
  transform: skew(-0.04turn);
}

.text-p {
  display: flex;
  flex-direction: column;
}
.text-p span {
  z-index: 3;
  left: 6rem;
  top: 18rem;
  position: absolute;
  color: black;
}

.title-header {
  position: absolute;
  font-size: 4rem;
  font-weight: 800;
  z-index: 3;
  left: 6rem;
  top: 12rem;
  color: #fff;
  letter-spacing: 10px;
}

.body-content {
  display: flex;
  flex-direction: row;
}

.body-content img {
  left: 11.3rem;
  top: -3.2rem;
  width: 349px;
  height: 300px;
  margin-left: 17rem;
  transform: skew(-0.04turn);
}

.body-content img:hover {
  width: 370px;
  height: 320px;
}

.text-body {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 300px;
  margin-left: 5rem;
}

.text-body .content-body-headder {
  color: var(--color-hover);
  font-size: 1.3rem;
  padding-top: 1.6rem;
  padding-bottom: 0.5rem;
}

.text-body span {
  color: #000;
}

.text-addr {
  font-weight: none co;
}

.contact-content {
  display: flex;
  flex-direction: column;
}

.show-content {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.icons svg {
  width: 48px;
  height: 48px;
  color: var(--color-hover);
}

.text-contact {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.text-contact .text {
  color: var(--color-hover);
}

.map-content {
  position: relative;
  margin-top: 5rem;
}

.map-content  iframe{
  position: absolute;
  z-index: 0;
  border: none;
  width: 80%;
  height: 450px;
}

.text-map {
  position: absolute;
  z-index: 2;
  left: 75%;
  background-color: #fff;
  transform: skew(-0.04turn);
}
.icon-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 450px;
  position: relative;
  transform: skew(0.04turn);
}
.icon-map svg{
  width: 60px;
  height: 60px;
  color: #56575b;
}
.icon-map h4{
  color: var(--color-hover);
}
